.main-page__content__holerite {

    &__content {
        display: block;
    }

    &__title {
        font-size: 18px;
        margin-top: 50px;
        text-align: center;
    }

    &__opcoes {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 10px;

            a {
                padding: 20px 60px;
            }
        }
    }

    &__opcao {
        &__umFuncionario {
            display: none;

            &__content {

                &__tabelas {
                    width: 100%;
                    max-width: 85%;
                    margin: 0 auto;

                    .box-princ {
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-around;
                        column-gap: 150px;
                        margin-top: 50px;
                    }

                    .box1,
                    .box2 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                    }

                    .box1 p,
                    .box2 p {
                        font-weight: bold;
                        border-bottom: 1px solid black;
                    }

                    .box1 span,
                    .box2 span {
                        float: right;
                        font-weight: normal;
                    }

                    table {
                        width: 100%;
                    }

                    .first-table {
                        margin-top: 150px;
                    }

                    table tr td {
                        padding: 10px;
                    }

                    .primary {
                        background-color: #FFBD59;
                    }

                    .secondary {
                        background-color: #FFF4AB;
                    }

                    .valores {
                        text-align: end;
                    }

                    .title {
                        text-align: center;
                    }

                    td>span {
                        float: right;
                    }

                    #total {
                        background-color: #FFE166;
                    }

                    .buttons {
                        margin-top: 50px;
                        display: flex;
                        justify-content: space-between;
                    }
                }

            }

            &__form {
                display: none;
                width: 1240px;
                margin: 0 auto;
                margin-top: 250px;
            }
        }

        &__todosFuncionarios {
            display: none;

            &__tabelas {
                width: 100%;
                max-width: 85%;
                margin: 0 auto;

                .funcIndividual {
                    margin-bottom: 175px;
                }

                .box-princ {
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;
                    column-gap: 150px;
                    margin-top: 50px;

                    &--first {
                        margin-bottom: 100px;
                    }
                }

                .box1,
                .box2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }

                .box1 p,
                .box2 p {
                    font-weight: bold;
                    border-bottom: 1px solid black;
                }

                .box1 span,
                .box2 span {
                    float: right;
                    font-weight: normal;
                }

                table {
                    width: 100%;
                }

                .first-table {
                    margin-top: 60px;
                }

                table tr td {
                    padding: 10px;
                }

                .primary {
                    background-color: #FFBD59;
                }

                .secondary {
                    background-color: #FFF4AB;
                }

                .valores {
                    text-align: end;
                }

                .title {
                    text-align: center;
                }

                td>span {
                    float: right;
                }

                #total {
                    background-color: #FFE166;
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 40px;
                }
            }

            &__form {
                width: 100%;
                max-width: 1240px;
                margin: 0 auto;
                margin-top: 250px;

                &__enviar {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}