@import 'side-bar';
@import './main-page-styles/main-page-func';
@import './main-page-styles/main-page-painel';
@import './main-page-styles/main-page-cadastro';
@import './main-page-styles/main-page-alterar';
@import './main-page-styles/main-page-holerite';

.main-page {
    display: flex;

    &__content {
        padding: 50px 40px 0;
        width: 100%;
    }
}