@import 'reset';
@import 'variable';
@import 'home-page';
@import 'main-page';
@import 'holerite';

.button {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(0deg, $gradientColor2, $gradientColor1);
    color: $corSecundaria;
    font-weight: bold;
    font-size: 18px;
    border: none;

    &:hover {
        background: lighten($gradientColor2, .1%);
    }

    &--menu {
        height: 80px;
        width: 200px;
        font-size: 25px;
    }
}

.main-page__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;

        img {
            width: 50px;
        }
    }
}